[2016-01-02 17:13] pavoni opened #2 "When shutting down subscription don't callback subscriptions"
Current code can callback when polling loop returns. Should check flag before calling.

Caused warning messages when exiting HA sometimes.

[2016-01-02 17:14] pavoni opened #3 "Combine 'register' and 'on' calls"
Unlike pywemo (where the code was stolen from) we don't support event types - so the dual calls are redundant.

[2016-01-02 17:15] pavoni opened #4 "Update code to pass flake8 and pylint"
Needs formatting, docstrings, variable names etc revised.

[2016-01-02 17:16] pavoni commented on #4
Also add script to run.

[2016-01-03 22:36] pavoni opened #5 "VeraDimmer doesn't turn off correctly for some users."
Should probably set 'LoadLevelTarget' to 0 as well or instead of 'Target'

https://github.com/pavoni/pyvera/blob/master/pyvera/__init__.py#L407

[2016-01-04 11:26] #5 closed

[2016-01-05 00:05] #2 closed

[2016-01-08 19:01] pavoni opened #7 "Dimmers sometimes set incorrectly by scenes, suspicions about scene automations."
Take a look at how pyvera interacts with HA

scenes. Could be a race condition, or but or...

Have seen a case where lights seem to turn on after being turned off by an automation.

May just be zwave communication issues.

[2016-01-10 12:36] pavoni commented on #7
I think 0.2.3 fixes most of this - mostly by loading the Vera much less - but also by updating devices faster by not requiring a state update call.

[2016-01-10 12:36] #7 closed

[2016-01-10 12:36] pavoni commented on #3
Done in 0.2.3.

[2016-01-10 12:36] #3 closed

[2016-01-10 12:37] pavoni commented on #4
Much improved in 0.2.3.

Still needs docstrings - and a couple of lint issues fixed.

[2016-01-16 11:30] #4 closed

[2016-02-03 18:07] pavoni opened #13 "Vera thread dying?"
Have seen cases where Vera stops updating. Suspect the poll thread has died - but no errors in the log.

[2016-06-27 20:29] pavoni opened #17 "Return power useage attribute"
Requested by @snizzleorg for HomeAssistant.

[2016-06-28 11:18] snizzleorg commented on #17
Thanks.

This was my work-around but apparently lead to an unresponsive vera:

[code]

[2016-06-28 11:22] snizzleorg opened #20 "thermostat support"
... would be very nice as well. I have a couple of danfoss z-wave thermostats and of course would love to be able to control them via home-assistant.

[2016-06-28 11:52] pavoni commented on #20
Certainly support adding this - but I don't have any connected thermostats.

Would welcome a contribution, and happy to help!

[2016-06-28 13:26] snizzleorg commented on #20
thanks. I'm not really a programmer. I can work myself through some python code but i have never actually done any real programming.

Of course I can test the code and give feedback. I guess remote access to my setup could also be provided.

[2016-06-28 13:38] pavoni commented on #20
@snizzleorg Thanks for the offer. I think adding a thermostat will take some experimenting - so would need to be a developer with local access. Hopefully we'll find someone!

[2016-06-28 14:10] pavoni commented on #17
Have coded both the Vera and HA parts - so will test both over the next couple of days

https://github.com/pavoni/pyvera/pull/19

[2016-07-03 18:52] amccardie opened #24 "VeraLite dimmers and locks"
For whatever reason, my VeraLite (UI 5, fw 1.5.672) returns different category names for dimmers and door locks than pyvera expects.

Specifically, instead of "Dimmable Switch", VeraLite returns "Dimmable Light" and instead of "Doorlock" it returns "Door lock".

Home Assistant can't find either my dimmers or my lock unless I change the strings in both pyvera/__init__.py  and homeassistant/componen

[2016-07-03 20:42] pavoni commented on #24
You could upgrade your Vera. I know there were issues - but mine works pretty well on the latest UI-7.

However if you don't want to upgrade, happy to add another set of device strings. Is it just dimmers and locks that don't work?

Either put together a PR if you're a tech guy, or make a list comparing the ones we use in the code - and I'll put something together.

On vacation this week - so like

[2016-07-03 23:09] amccardie commented on #24
In my case, yes, it's just dimmers and locks. I've been avoiding UI7 mainly because UI5 has been very stable for me. If upgrading to UI7 will fix my issue though, I may take the plunge.

I can patch the files pretty quickly when HA is updated, so there's no urgency at all. Also, if I get a chance, I'll try to set up a pull request. I haven't worked with GitHub (or git) before, so it will be an adv

[2016-07-11 08:57] pavoni opened #26 "Should refactor use of VeraClass and device_category use in HA to avoid duplication."
Current code still uses device_category - both locally (eg is_dimable) and in HA to do device type creation.

Should look at using classes once they are created based on device category in HA.

And should change lock and dimmer classes etc to override `is_dimable` etc.

[2016-07-20 10:43] pavoni commented on #26
Included in https://github.com/pavoni/pyvera/pull/27

[2016-07-20 10:43] #26 closed

[2016-07-20 10:43] pavoni commented on #24
Included in https://github.com/pavoni/pyvera/pull/27 and also in the dev branch of HA.

[2016-07-20 10:43] #24 closed

[2016-07-20 10:44] pavoni commented on #17
Now in the dev branch of HA

[2016-07-20 10:44] #17 closed

[2016-07-20 10:45] pavoni commented on #13
Haven't see this for a long time - so closing.

[2016-07-20 10:45] #13 closed

[2016-08-23 17:03] robjohnson189 commented on #20
I started working on adding thermostat support, It doesn't look like it is going to take too long to get this added. @snizzleorg what kind of thermostat do you have? I'll be developing this to work against a Radio Thermostat CT80. When I paired my thermostat with vera, it shows up as 3 different devices in the Vera Devices page but it seems that I can only really control the thermostat using 1 of

[2016-08-23 20:37] snizzleorg commented on #20
I have danfoss living connect (http://www.pepper1.net/zwavedb/device/426)

not sure which firmware version though. Let me know if I can help somehow...

[2016-08-25 00:28] robjohnson189 commented on #20
@snizzleorg  I've got this working on my end. If you would like to help me test you can install and run my fork of pyvera (https://github.com/robjohnson189/pyvera) and home-assistant (https://github.com/robjohnson189/home-assistant). Let me know how it works. It seems to be working good for me but my thermostat has quite a few more features than yours.

By default home-assistant will load any ther

[2016-08-25 08:31] snizzleorg commented on #20
@robjohnson189 Thanks!
 I'm running a docker image so it's not that easy for me to test. I'll try if I get your branch running in a docker image - hopefully I'll get to it on the weekend.

[2016-09-15 11:10] pavoni commented on #20
Now added - so closing.

[2016-09-15 11:10] #20 closed

[2016-10-11 10:00] snizzleorg commented on #20
@pavoni I still don't see my thermostats. But I was wondering if this is maybe because they show up as heater in vera?
They are Radiator Thermostats (danfoss living connect)
<img width="732" alt="screen shot 2016-10-06 at 09 38 18" src="https://cloud.githubusercontent.com/assets/1573482/19266539/e3042458-8fa1-11e6-914a-3155c14be4aa.png">

[2016-10-11 10:04] snizzleorg commented on #17
I think there is a little problem in this. The power usage should be reported in W or mW (not in mWh) as this would be the energy consumed...

In any case the It's working just the unit is wrong

[2016-10-11 21:06] pavoni commented on #20
@snizzleorg Could you have a go at running this code via python?

Use the ip of your controller.

This will list all you devices and their types. Might give us some clues.

Also which vera version are you using?
[code]

[2016-10-11 21:15] pavoni commented on #17
@snizzleorg This isn't a pyvera issue - but a home assistant issue (with the base switch code rather tha the vera switch code)

I meant to raise an issue when  I coded it. I'll do that and tag you.

[2016-10-12 10:03] snizzleorg commented on #20
Ok I tried:
[code]

I get this when I run it:

[code]
So the Thermostats show up as Thermostats...

[2016-10-12 10:05] snizzleorg commented on #20
So I suppose the problem with home-assistant does not come from pyvera? I'm running home-assistant 29.6 - which is the first version supporting it?

[2016-10-12 12:46] pavoni commented on #20
That all looks good.

Worth updating to the current HA - just so we know you're using the latest code.

Is there anything interesting in your HA log when HA loads the vera component?

[2016-10-12 13:04] snizzleorg commented on #20
[code]
Updating will be a bit complicated as I'm away for the next weeks... I can update but a couple of times  docker made the system hang to a state where I had to pull the plug which I can't do remotely...

[2016-10-12 13:38] snizzleorg commented on #20
Ok with hass 30.1 they show up. However every Thermostat shows up 2 times. and the Unit is wrong. They work with °C but show up with °F...

[2016-10-12 13:44] pavoni commented on #20
I think I saw that there was a bug in HA - perhaps https://github.com/home-assistant/home-assistant/issues/3605.

As to showing up twice - can you do some detective work on the entity names and the Vera id in HA.

Should probably move the discussion to HA. Feel free to tag me if you want some help.

[2016-10-12 13:59] snizzleorg commented on #20
What do you mean by detective work?

Those are the two entities showing up for the same vera ids:
[code]
climate.bathroom_radiator_2:
[code]

[2016-10-12 14:03] snizzleorg commented on #20
Additionally these Thermostats only support Heating, no fan, no cooling etc. also no reporting of the current temperature. Any way to reflect that in hass

[2016-10-12 14:06] pavoni commented on #20
I can't see anything obvious in the HA code that would cause duplication (the thermostat code looks the same as the switch code). Worth taking a look at your lok and config - check if anything is being loaded twice.

Afraid I don't know how the HA climate stuff works - but my Nest also has options (cooling etc) shown that it doesn't support!

[2016-10-12 22:32] snizzleorg commented on #20
https://github.com/home-assistant/home-assistant/issues/3849

[2016-10-25 11:00] snizzleorg opened #33 "Thermostat Unit problems"
I have my thermostat in °C and they also show up correctly now (with 31.1) in home-assistant. However when I set them to for example 21°C in Home-Assistant they get set to 69.8 °C (21°C = 69.8°F)

[2016-10-25 12:03] pavoni commented on #33
pyvera doesn't do any conversion - so if it's being set incorrectly it's a problem in Home Assistant.

[2016-10-25 12:03] #33 closed

[2017-01-08 12:36] pavoni opened #39 "Remove set_value / get_payload_parameter_name"
After the last call in VeraThermostat is refactored

[2017-02-27 09:49] philhawthorne opened #41 "Changing Thermostat Operation Mode broken"
This is a followup to home-assistant/home-assistant#5828

Changing the Operation Mode for Thermostats seems to be broken. To ensure we're all on the same page I'm using Home Assistant 0.39.1, however this issue was first reported in Home Assistant 0.37.

I've increased the logging level, to see what is going on when changing the Operation Mode for my Living Room thermostat. For reference, it is a

[2017-02-27 10:23] pavoni commented on #41
Vera helpful - `SetSetModeTarget ` has too many `Set`s!

Hopefully fixed in the latest release. If you can easily try a dev branch - can you checkout my branch `fix_vera_thormostat_bug` (excuse the typo - typed the branch name too fast!)

[2017-02-27 10:57] pavoni commented on #39
Data here contains the details of what vera services to call in the thermostat. Basically set both the heat and cold temps to match current behaviour.
[code]

[2017-02-27 10:58] pavoni commented on #41
Fixed in `0.2.24`

[2017-02-27 10:58] #41 closed

[2017-03-04 21:48] angoyd opened #43 "Delayed or no function"
Since last update of HomeAssistant I have been experiencing that when I in automation turns on a group of lights/switched from the Vera, there is a long delay or in some cases there is no function at all, do any of you others using this experiencing the same thing? First I thought this could be because I had some devices that didn't work in the zwave network but I have removed then and still very

[2017-03-05 07:27] pavoni commented on #43
Is there anything in the home assistant logs?

If not if you turn up the log level to `debug` as described here https://home-assistant.io/components/logger/ `pyvera` will trace the Vera calls which may show what's going wrong.

[2017-03-05 19:15] angoyd commented on #43
I will check the logs to see if I get any hints.

/Anders

Den 5 mars 2017 08:27 skrev "Greg Dowling" <notifications@github.com>:

[2017-03-19 14:42] arjenfvellinga opened #44 "Cover position not updated correctly"
Again not sure if this is a pyvera or Hass issue.

But in Hass, if I open my curtain for 50% and then call (full) open (or close) the interface still shows position 50% afterwards. And a side effect is that the controls (arrow up and down) are both enabled, but one should be greyed out.

[2017-03-21 10:09] pavoni commented on #44
It's important the position is correct, because if it isn't - then HA will enable / disable the buttons incorrectly.

Will double check my cover at the weekend - but I'm pretty sure mine works (I use a Fibaro FGR-222). What blind controller are you using?

The vera commands for `position` and `open/close/stop` are different. However (if I remember correctly) my controller sends position updates in

[2017-03-21 17:47] arjenfvellinga commented on #44
I have a complete system from http://www.forestgroup.com This is their documentation on the zwave part: http://www.forestgroup.com/products/pdf/Shuttle_S_L_Z_Wave_EN.pdf

With the following logging

[code]

I get for setting the curtains to 51 percent and afterwards to closed:
[code]
The open command isn't logged by pyvera

[2017-03-21 18:31] pavoni commented on #44
Thanks for the log - very helpful.

As I suspected your device isn't sending position updates for the open / close commands.

Should be a pretty easy fix.

Are you a developer (ie are you in a position to be able to test a branch if I put one together)?

[2017-03-22 09:02] arjenfvellinga commented on #44
Yes I'm a developer, so happy to test your branch.

It would be the first time, so maybe you have some pointers when you are finished.

[2017-04-02 15:07] #39 closed

[2017-04-02 15:07] #44 closed

[2017-04-11 11:59] Ardetus opened #46 "Support for scenes"
Probably this is more like a feature request, but should there be support for scenes? I'm trying to get Nodon wall switches working with Home Assistant without success. I'm not sure if those switches should even work if there is no support for the scenes of Vera.

[2017-04-11 13:37] pavoni commented on #46
From a brief look here (http://nodon.fr/support/NodOn_WallSwitch_ZWave_UserGuide_EN.pdf) it looks like they only function as scene controllers when connected to a gateway - so I think they would need some sort of scene integration to do anything.

From the description here (http://wiki.micasaverde.com/index.php/UI_Simple) we probably could monitor turning on and off scenes - and find a way to inte

[2017-04-11 15:53] alanfischer commented on #46
I just ran into something similar.  I added some basic scene controller support in my fork here: https://github.com/alanfischer/pyvera

I'm not super satisfied with how I ended up implementing it, but it works great for me in HA (with a tiny patch for HA), and lets me use my minimote as a sensor to trigger automations.

[2017-04-11 16:04] pavoni opened #47 "Add energy monitor sensor"
Useful data here https://pastebin.com/CwpvmtaL

Looks like the `device_category` is 'Power meter'

and useful attributes are 'kwh' and 'watts'

[2017-04-11 17:40] pavoni commented on #46
Looks like a great start @alanfischer - happy to help merge when you have something you're happy with.

[2017-04-11 18:47] Ardetus commented on #46
I have done some development, but I really think you have now better idea how to solve this...Probably the modification what @alanfischer has already hacked, would solve the Nodon scene problem also. I would be also happy to test it, if you would merge the patches!

[2017-04-12 10:00] pavoni commented on #47
@danodemano I'll probably make 'power' in W the main item to display - with `energy` in kwh as a secondary attribute. Does that make sense to you?

Something like this (excepy in W - kW makes sense for a while house - but probably not for a single device (unless you know better).
![screen shot 2017-04-12 at 10 57 41](https://cloud.githubusercontent.com/assets/4487313/24952344/0ae638fa-1f6f-11e7-8a

[2017-04-12 12:26] danodemano commented on #47
@pavoni - makes sense to me.  Watts is most likely the more important one but people will also want to see kwh as well, even for individual devices.  That can tell them how much a specific device is costing in electric.

I know when the devices were tied straight to HA through zwave each of their values came across separately (watts, kwh, voltage, amps, etc).  Might just make sense to keep it the

[2017-04-14 18:46] angoyd commented on #43
Hi, I looked thorw the logs and i turned out I had an failing unit in the
vera giving me timeouts when that was removed everything worked fine.

Sorry for the late response.

/Anders

2017-03-05 20:15 GMT+01:00 Anders Yderborg <anders.yderborg@gmail.com>:

--
Med Vänlig Hälsning
Anders Yderborg

[2017-04-15 09:40] angoyd commented on #43
Closing this Issue.

[2017-04-15 09:40] #43 closed

[2017-04-16 12:03] pavoni commented on #47
I did this the simple way for now (vera sensors are mapped to a single HA device).

Please test it if you can https://github.com/home-assistant/home-assistant/pull/7134

[2017-04-16 12:04] pavoni commented on #43
@angoyd Thanks for checking and coming back to me. Glas the issue is sorted.

[2017-04-21 22:00] alanfischer commented on #46
@Ardetus If you are interested to try it, here is a hass patch that goes along with the pending pyvera pull request for scenes.  It just adds the minimote as a sensor.

[hass_vera.txt](https://github.com/pavoni/pyvera/files/948414/hass_vera.txt)

[2017-04-23 15:27] Ardetus commented on #46
Thank you for the patch! Unfortunately I don't see any difference with NodOn wallswitch... Probably scenes are not configured right on the Vera side.

[2017-04-23 20:40] alanfischer commented on #46
If you wanted to get the contents of 2 urls from your vera, I could see if your NodOn switch is appearing slightly differently and if its something I could easily support.

http://YOUR_VERA_IP:3480/data_request?id=status
and
http://YOUR_VERA_IP:3480/data_request?id=sdata

[2017-04-26 15:59] #47 closed

[2017-04-30 10:13] pavoni opened #51 "Some switches don't update state"
In some cases changing a switch isn't updating the state in pyvera.

[2017-05-02 19:53] tySwift93 opened #53 "Constant JSONDecodeError exceptions"
I use pyvera in my instance of Home Assistant (HA). I have consistently noticed that sometime between one and two days after starting HA, pyvera's subscription/polling feature stops working due to a single JSONDecodeError exception. I have created a pull request (https://github.com/pavoni/pyvera/pull/52) that will safely handle JSONDecodeError exceptions and allow polling to continue.

For referen

[2017-05-04 16:46] tySwift93 commented on #53
Issue fixed in merge request https://github.com/pavoni/pyvera/pull/52

[2017-05-04 16:46] #53 closed

[2017-05-14 11:15] alanthewild opened #54 "pyvera throwing exception error on dimmer state refresh"
Not sure if this is only happening to me or to anyone else as well?
Maybe not many people are using Vera and HomeAssistant?

Under the get_brightness def, line 577 of the __init__.py file, there is a reference to the **_level_** variable as an integer **_(int(level))_**.

When refreshing the state of my dimmers from Vera, they return a % value (e.g. 20%) which causes an error in parsing the __init

[2017-05-14 14:29] pavoni commented on #54
Thanks @alanthewild - very odd it goes wring so rarely - but the code is defensive - so not issue merging this.

HA will do their release next weekend - so let's fix during the week if it helps in your setup.

What Vera firmware are you using, and what hardware are the dimmers that cause the problem?

[2017-05-15 09:02] pavoni commented on #54
I'm also using a couple of FGD-212s (I don't know what version) - although I haven't upgraded to the latest Vera Edge firmware.

I think we should add this - would you like to do a PR - or shall I just drop your change into the code?

[2017-05-15 09:19] alanthewild commented on #54
Happy for you to drop my change into the code.
I just had to reboot my Synology so won't be another few days before I'm happy the fix is working properly.

So this issue wasn't affecting you? Just me? Weird. A firmware difference maybe?

Thinking back, I initially thought it was odd when some of my switch states were wrong - I'm running the latest version of AppDaemon with the new (beta) HA Dashbo

[2017-05-16 11:20] alanthewild commented on #54
@pavoni Just noticed this other posting on HA with vera:
https://community.home-assistant.io/t/veraedge-issues-in-0-41/14032

It mentions a similar exception in HA if his vera dimmer was set to on but the brightness level was 0.0
Checked that behaviour in Python within my HA docker container.
Same issue, fixed by the code above.

All good. He fixed his by not setting the level to 0.0 but I don't t

[2017-05-16 20:34] alanthewild commented on #54
Thanks @pavoni
Closing this issue as it's now resolved.

[2017-05-16 20:34] #54 closed

[2017-05-23 11:29] alanthewild commented on #51
Hi @pavoni

I have this same issue with one of my light switches only - A Fibaro FG223.
I'm running HA v0.45 with the Pyvera debug level logging turned on.
I'm using a Fibaro FGS-223 - Double Switch 2 - which has two circuits/channels. The primary/master works happily. The secondary doesn't if you use the switch itself and not Vera/HA or one of the apps/software switches.

Behaviour when using dif

[2017-05-23 11:33] pavoni commented on #51
Might be worth adding some debug logging to your HA set-up

[code]

This shows the messages we get from vera - pyvera ignores some of them - so it's possible there is some info we're missing.

This logs everything -so can be a lot of data.

[2017-05-23 12:06] alanthewild commented on #51
That was with the Pyvera debugging on.
Nothing in the logs at all as the secondary switch state change doesn't appear in Vera so will never appear in HA. Vera state is wrong and HA state just mirrors Vera state.

So I think it's definitely a Vera issue for me.
Going to see what debugging I can get on the Vera side of things to see what's going on.
Alternatively, if Vera get around to officially su

[2017-05-23 16:00] pavoni commented on #51
Thanks for digging. As you say - if it's not correct in Vera there's not we can do until they fix it!

Will leave this open, since the other case sounds like some sort of race condition with older switches.

[2017-05-25 07:06] maddox opened #56 "No virtual switch support?"
I tried to add some virtual switches to my controller (`urn:schemas-upnp-org:device:VSwitch:1`) and they don't seem to show up in Home Assistant. Are these just not supported?

I'm trying to avoid polling when using the minimote, by using scenes native to Vera that set virtual switches on/off so that their state will push directly to Home Assistant and my automations will be instant.

[2017-06-22 11:19] Whytey opened #62 "Exception relating to RGB"
Thrown from Home-Assistant but appears to be in the pyvera library.
[code]

[2017-07-03 11:03] angoyd commented on #56
This should be rather easy to achieve. I will look into the code, to see if I can make a solution.

[2017-07-03 14:15] angoyd commented on #56
I´ve been looking into this problem now and it looks like the VirtualSwitch that is created by the app https://apps.mios.com/plugin.php?id=1408 does not set correct category (=0 should be something like 3 (Onoff switch)) on the device in vera, that makes it to be filterd out by this component, but if you instead creates the virtual switch manually as the wiki describes http://wiki.micasaverde.com/

[2017-07-05 00:57] MikeJohnshoy opened #64 "veraSecure and SMS messages?"
I'm wondering if it might be worth getting the vera secure based on it having built-in wireless phone capability (it comes with a SIM card, or maybe I could provide my own?). The question is whether I could do anything with python to send an SMS message.  I haven't seen the vera secure software, so maybe this is built in and doesn't need to be done in python ...

[2017-07-07 21:39] #62 closed

[2017-07-07 21:49] pavoni commented on #64
Afraid I don't know anything about vera secure. My vera can send alerts via SMS - but it does that via the internet connection I think.

Most of the vera calls are documented - so you may be able to do something if you feel like investigating.

Here is a place to start http://wiki.micasaverde.com/index.php/Luup_Requests#user_data

[2017-07-07 21:49] pavoni commented on #56
So sounds like we do support this - as long as the device is set up correctly. Should I close the issue?

[2017-07-10 20:14] dpembo opened #65 "Netatmo Thermostat issue"
I get a pyvera error whilst it's trying to figure out my netatmo thermostat that has been added to vera.

Error is:
[code]

Thermostat xml from vera looks like:
`&lt;device name="my thermostat" altid="" id="169" category="5" subcategory="-1" room="0" parent="0" ip="xxx.xxx.xxx.xxx" currentTemperature="22.2" batterylevel="100"/&gt;`

[2017-07-11 12:36] alanfischer commented on #65
This should be resolved with the latest pyvera, and the HA PR to update that is here: https://github.com/home-assistant/home-assistant/pull/8437

Once that goes in this should be resolved.

[2017-07-18 13:33] philhawthorne opened #66 "Device with Vera warning does not update"
Using this as part of home assistant.

I have 3 Aeotec 6 in 1 multisensors. For some reason my Vera always displays "failed at setting user config" for these devices. However the settings have updated.

So the issue is, motion sensor reports stop getting sent to Home Assistant for these devices. The other sensors such as temperature and lux update in home assistant, but the motion detection does n

[2017-07-18 14:11] pavoni commented on #66
Can you see anything in the logs when the motions sensors stop getting updated?

[2017-07-18 15:04] dpembo commented on #66
I've got one of these also, others I have are all fibaro.  I've not noticed any issues but will check again and report back.

On 18 Jul 2017, 15:11, at 15:11, Greg Dowling <notifications@github.com> wrote:

[2017-07-19 01:05] philhawthorne commented on #66
I can see these in the Home Assistant logs for one of my sensors

[code]

[2017-07-19 16:23] alanfischer opened #67 "IndexError in get_color"
Here is the stack trace as reported here: https://github.com/home-assistant/home-assistant/issues/8526

[code]

I'm not sure what's getting returned by CurrentColor that isn't in get_color_index.  Do we try to understand exactly whats going on or just wrap 660 & 661 to catch IndexErrors?

[code]

[2017-07-19 17:23] pavoni commented on #67
Happy with either - but catching the exception  makes sense to me

[2017-07-19 18:53] alanfischer commented on #67
PR here: https://github.com/pavoni/pyvera/pull/68

[2017-07-20 16:33] #67 closed

[2017-08-24 15:24] alanfischer opened #70 "pyvera does not properly handle non-english device categories"
See the issue here: https://github.com/home-assistant/home-assistant/issues/9105

The device categories are of the form:
[code]

I wonder if there is some request parameter that would return the categories in English, otherwise it seems we would have to add translations in pyvera.  I havent found anything yet however...

[2017-08-24 15:58] alanfischer commented on #70
Actually, reading through some vera docs, I saw this:

So looks like we should use the id?  I'll look at some examples and verify that the id seems consistent across veras.  If so then I'll create a PR that uses the id instead of the name.

[2017-08-24 16:07] r3dkross commented on #70
Thanks for helping, here is a part of the result of the request, if it can help:

http://192.168.1.15:3480/data_request?id=user_data&output_format=xml

[code]

Characters like é è à ô are showing wrong or there are emptied like the last request:

<Label lang_tag="ui7_av_devices" text="Audio/Vido"/>
"Audio/Vido" is **Audio/Vidéo**
<Label lang_tag="ui7_lights" text="Lumires"/>
Lumires is **Lumières*

[2017-08-24 16:55] r3dkross commented on #70
I've not seen the second answer sorry.

I've checked the categories from the doc and mine:

**Categories founded from the doc:**
CATEGORY #2 - Dimmable Light **same for me**
CATEGORY #3 - Switch **same for me**
CATEGORY #4 - Security Sensor **same for me**
CATEGORY #5 - Thermostat **same for me**
CATEGORY #6 - Camera **same for me**
CATEGORY #7 - Door lock **same for me**
CATEGORY #8 - Window cove

[2017-08-24 22:35] pavoni commented on #70
Thanks for leaping on this @alanfischer - agree with what you suggest.

In case it helps - here is the extract from my vera.

We should get someone still on UI5 to check too. Some of the string descriptions were different (which is why we have some alternatives in the code) - hopefully the ids are the same...

[code]

[2017-08-25 01:47] alanfischer commented on #70
Ok, here is a branch that implements the category id check instead of category name.  It works for me.  However I only have switches, dimmers, and a thermostat.  So I dont know if its working for all the other device types.  I'd appreciate people trying it out.
https://github.com/alanfischer/pyvera/tree/use_ids

[2017-08-25 08:11] r3dkross commented on #70
It doesn't seem to work for me:

[code]

[2017-08-25 08:56] #66 closed

[2017-08-25 11:59] alanfischer commented on #70
What if you call get_devices with no parameters?  Just devices = controller.get_devices()

[2017-08-25 12:10] r3dkross commented on #70
it works!
I've got them all!

[code]

I've checked only the switch one's because I don't know what's the command to get temperature for example.

Nice one!!

[2017-08-25 14:10] r3dkross commented on #70
Well It seems than I need your help another time, I have smoke sensors, they have 2 categories, the armedvariable is ok including the battery level and status but the second category including temperature is not recognized yet.

Here is one of them in home assistant:

binary_sensor.ddf_salon_205 | off | device_armed: True battery_level: 80 Vera Device Id: 205 friendly_name: DDF Salon

sensor.ddf_t

[2017-08-25 14:31] alanfischer commented on #70
Ok, I think the issue is that the device category is still used in the vera integration for Home Assistant.  I'll modify my PR so that categories are nicely declared constants, and then make a corresponding Home Assistant PR that would switch to using those constants.  That should get us away from the english category names completely.  I'll update this thread when I have a branch of Home Assistan

[2017-08-26 09:33] r3dkross commented on #70
Ok thanks!

[2017-08-28 17:15] alanfischer commented on #70
You can try to use this pyvera branch: https://github.com/alanfischer/pyvera/tree/use_ids
And this hass branch: https://github.com/alanfischer/home-assistant/tree/pyvera_update
And see if things behave as expected.  I haven't tested it much yet however.

[2017-08-28 19:34] r3dkross commented on #70
I'm a little bit lost about the bass branch, how I'm about to process?
Uninstall the actual Hass installation?
Or is it another one to get installed next to the first one?
Thanks for help :)

[2017-08-28 20:10] alanfischer commented on #70
To be safe, I would probably uninstall the previous hass installation (make sure you keep your configuration directory!), then clone & install the new hass from that branch I posted, and run that.  Make sure you are running the new pyvera from the branch too.  (If you install pyvera manually you can always run hass with --skip-pip to make sure it wont try to change any dependencies)

[2017-08-29 08:53] pavoni commented on #70
@alanfischer Happy to release an interim version for testing if it makes life easier (that way your HA branch can just refer to the new version).

[2017-08-30 15:30] alanfischer commented on #70
@r3dkross let me know if you are still having trouble testing this against a custom built hass and we can make it a bit easier.

[2017-08-30 15:45] r3dkross commented on #70
Well I've cloned the whole branch on my computer, saved my config directory and uninstalled the old HA but im lost for running the cloned branched :/

[2017-08-30 16:43] alanfischer commented on #70
You should be able to go into the cloned home-assistant directory, and just type:  `python setup.py install`

Once it finishes installing, type: `hass --skip-pip`

It should then still use the pyvera you built earlier.  But if you have problems with getting the pyvera dependency correct let us know.

[2017-08-30 19:30] r3dkross commented on #70
Well I've got this issue:

[code]

I've tried :
pip install async-timeout

It's been installed but the issue is still here

[2017-08-30 20:37] alanfischer commented on #70
@pavoni hmm, sounds like an interim release may help here

[2017-08-31 14:39] pavoni commented on #70
@alanfischer Can you submit a PR - I'll then merge it and release an interim version.

[2017-08-31 16:36] pavoni commented on #70
Should be available as 0.2.36a0 although I tried to call it 0.2.36alpha

[2017-08-31 21:13] r3dkross commented on #70
I've downloaded it to my computer, ran the `python3 setup.py install ` in the folder, restarted HA with `hass --open-ui` and tada!! Sensors are corrects!
I've tried with a 3 in 1 fiber motion sensor to check lux values and all is fine!
Better, when I turn on a switch from HA, the execution is faster than the vera...
So thanks for all the hard work guys!!

[2017-09-01 14:54] alanfischer commented on #70
@r3dkross Excellent!
@pavoni I'll close this issue and we can discuss in the PR what changes are necessary before another release.  I was unsure about the Armed sensor stuff.

[2017-09-01 14:54] #70 closed

[2017-09-01 16:09] pavoni commented on #70
Cool.
On Armed sensors. Basically what the code is trying to do is create a switch as well as a sensor for each these devices. The switch arms or disarms the sensor. Armed sensors do things like send messages (via vera) when they trigger (when they are armed).

An example would be a movement detector used as an alarm. You arm it when you leave the house.

So we basically wrap the same vera object

[2017-09-05 16:14] alanfischer commented on #65
Closing this issue since it should be resolved.

[2017-09-05 16:14] #65 closed

[2017-09-05 16:16] pavoni commented on #56
Given the analysis above I'm going to close this. Please re-open if you don't think that's correct.

[2017-09-05 16:16] #56 closed

[2017-09-23 15:45] dpembo opened #73 "Sensor values"
Looks like something which made it into todays release of HA causes significant problems with sensor values.  Had to back it out back to previous release.  Light sensors, temp, all showing 'unknown' in HA.

I did run it in debug for a few mins to see if anything was there but I lost the output :(

[2017-09-23 15:51] dpembo commented on #73
these are multi-sensors that are armable and contain additional temp/light/etc sensors (e.g a fibaro and an aeotec one).  Guess is could've been the 'armable' changes

[2017-09-23 16:11] pavoni commented on #73
Sorry for that - and thanks for backing out.

Will investigate, and fix.

[2017-09-23 16:35] dpembo commented on #73
if you need me to test anything or assist with any debug, let me know, and I'll apply the pyvera files into my HA (or possibly setup a second instance so it doesn't annoy the family 👨‍👧‍👦 )

[2017-09-26 20:51] alanfischer commented on #73
@dpembo Would you be able to post the contents of http://your_vera_url:3480/data_request?id=sdata

[2017-09-27 06:10] dpembo commented on #73
attached is the xml output from the call - just slightly edited to remove some personal stuff
example ids of sensors I lost
129,130,131,132,133 (Aoetoc one)
81,82,83 (Fibaro one)

[output.txt](https://github.com/pavoni/pyvera/files/1335957/output.txt)

[2017-09-28 22:01] alanfischer commented on #73
Would you mind sending me the json version?  That way I can load it right into pyvera and replicate your issue.

Thanks!

[2017-09-29 06:38] jamesoft145 commented on #73
Hera is a snippet of my JSON...

"devices": [ { "name": "6 in 1 Multisensor (humidity)", "altid": "m5", "id": 17, "category": 16, "subcategory": 0, "room": 2, "parent": 14, "humidity": "52" }, { "name": "6 in 1 Multisensor (light)", "altid": "m3", "id": 16, "category": 18, "subcategory": 0, "room": 2, "parent": 14, "light": "5" }, { "name": "6 in 1 Multisensor (temperature)", "altid": "m1", "id":

[2017-09-29 06:46] dpembo commented on #73
I'll sort an edited version of the full json response when I get back home later.

On 28 Sep 2017, 23:02, at 23:02, Alan Fischer <notifications@github.com> wrote:

[2017-09-29 15:26] dpembo commented on #73
[sample.json.txt](https://github.com/pavoni/pyvera/files/1344849/sample.json.txt)
attached my full (edited) json response also.

[2017-09-29 15:30] alanfischer commented on #73
@dpembo @jamesoft145, Thanks for the help.  I see the problem.  It's related to the Home Assistant VeraSensor still using some of the old device category naming checking instead of id checking.  I'll get a fix into a branch and post it here if anyone wants to try it.

[2017-09-29 15:31] dpembo commented on #73
excellent, thanks! More than happy to try it once posted :)

[2017-09-29 15:54] alanfischer commented on #73
@dpembo The hass branch is here: https://github.com/alanfischer/home-assistant/tree/vera_sensor_fix

If this resolves your issues I'll make a PR for it.

[2017-09-29 18:58] dpembo commented on #73
Good news for me... it works 👍
![works](https://user-images.githubusercontent.com/9807493/31031457-84b22e70-a550-11e7-8b92-be80c62d5448.png)

[2017-09-29 19:02] alanfischer commented on #73
Awesome, I'll close this issue & make the hass pr

[2017-09-29 19:02] #73 closed

[2017-09-29 19:03] dpembo commented on #73
thank you :)

[2017-11-06 17:12] pavoni opened #77 "Refactor VeraScene and VeraDevice"
They have their own ids - but share some common methods that should be in a common class.

[2017-11-11 20:37] kdschlosser opened #78 "I have a bit of code I wrote that you may want/use"
I wrote the attached file and what it does is is leverages upnp to grab the available services their attributes and methods. it also grabs information from /data_request?id=invoke to fill in the missing bits. It auto generates code for classes for the different services that are available. and in these classes are the default attributes, properties and also methods that can be used for that specif

[2017-11-11 20:41] kdschlosser commented on #78
and one other thing. the same mechanism that is sued to build the filenames can be used if a dynamic import system is made so the file_names are generated from part of the service type. as are the class names.

the function parse_string is what does this.
This will work if the Vera is on the local network. and it is auto discovering.

[2017-11-11 22:52] kdschlosser commented on #78
I updated the script changed how the service id's were processed. I found it was missing some things.

also gave it more informative output

[vera_build.zip](https://github.com/pavoni/pyvera/files/1464200/vera_build.zip)

[2017-11-14 08:00] pavoni commented on #78
@kdschlosser Thanks for this, looks very interesting. I've only had a very quick look - but couldn't work out how to run it.
[code]

Assume I need to update an address somewhere...

[2017-11-14 10:19] kdschlosser commented on #78
hmmm.... that is an odd error. I can't ever say that i have seen that from the socket lib before.

this script should automatically discover the Vera's IP address for you.

Here is a much newer version. I have cleaned up the code a lost but I have also found some back doors in the Vera. I am not able to grab a list of all of the device and service files and able to grab them from the Vera so they

[2017-11-15 08:51] kdschlosser commented on #78
Here is a more updated version. it makes all of the files properly and also make a mapping of category number to name

[vera_build.zip](https://github.com/pavoni/pyvera/files/1473937/vera_build.zip)

[2017-11-27 09:47] kdschlosser commented on #78
I haven't heard from ya at all. But if you would like to see what I have come up with. I would appreciate your input and suggestions. there could be a better way to go about building the files. not sure tho. The hardest part was making the thing flexible with the service id's and service types because as I have discovered it is riddled with typos and also has no standard to them.

https://github.c

[2017-11-28 10:07] pavoni commented on #78
Sorry - been a busy few weeks - afraid it looks like it will continue to another couple of weeks - but would love to take a look...

[2017-11-29 00:09] kdschlosser commented on #78
no worries m8. I am still ironing out some kinks in the code. crazy way MIOS has set up how the Vera references specific variables and methods.

[2017-11-29 14:21] pavoni commented on #78
Yes - I actually removed some of the generic code in pyvera because dealing with the exceptions was harder than explicitly coding the few calls we needed!

[2017-11-29 22:05] kdschlosser commented on #78
The problem I ran into (the first time i made something for the Vera was that MIOS would change things about that really didn't need any changing. they claim to use UPNP standards which is a half truth. they use a butchered version of it they created. So i said to myself... how to make this thing so it isn't an ongoing maintenance thing that would have to be changed every time they did something.

[2017-11-29 22:10] kdschlosser commented on #78
I am working on a mechanism to automatically rebuild the files if a change has been made or something new has been installed which there was no file for previously. I already have part of it done with the plugins but I want to make it global to the library. so if the user upgrades the UI on the Vera and that upgrade includes all kinds of new information then the library will know this and rebuild

[2017-12-21 01:24] jwater7 opened #82 "Long-polling for immediate updates?"
I was reading [this thread](http://forum.micasaverde.com/index.php?topic=27866.0), and it seems that vera has support for long-polling that would remove any delay in notifications or triggers.  I believe pyvera has been implemented partially with this, but it does include an additional sleep(1)
https://github.com/pavoni/pyvera/blob/1fd6aca819381e67ca8fdc54a732fe4ddd92c590/pyvera/subscribe.py#L132

[2017-12-21 08:45] pavoni commented on #82
So pyvera certainly uses the long poll code, and home assistant uses this.

Quite a while since I wrote it - but I spent quite a while trying to tune the timing parameters to get quick responses, but not to overload the very hub.

Vera events seem to cascade ( turning on a light produces a lot of power update events for example), so with a very short timeout you can get a lot of callbacks, and a l

[2017-12-21 21:16] jwater7 commented on #82
That makes sense, so if you chose to remove the sleep, then Vera has problems and set a longer min polling time, then you also wouldn’t get very quick updates.  It sounds like it’s as good as it can get with the current Vera api limitations but is kind of unfortunate that events in between that second won’t be able to trigger anything immediately.

Maybe a bit off topic, but do you have a system u

[2017-12-21 21:16] #82 closed

[2017-12-21 22:27] pavoni commented on #82
I’m not sure I set the numbers very scientifically- so do feel free to experiment.

I don’t use a motion to trigger anything - but I have a zwave switch that is only used to trigger a home assistant scene. That switches other devices in less than a second. Although switching it again can take 4/5 secs.  Once devices start being activated there are a lot of Vera events (you can turn Vera tracing on

[2018-01-03 21:37] 172pilot opened #83 "How to find switch by name?"
Sorry - This isn't a problem with pyvera necessarily, but I haven't found any code examples or detailed docs to help me figure this out..  (my Python Newbie status is showing)..

The short version is that I need to find a device (switch for this example) by name, because I dont trust that devices[4] for example, would always return the same device, especially if I add/delete devices from my Vera.

[2018-01-06 09:48] pavoni commented on #83
Take a look at `list comprehensions` in python. The devices returned are python objects - so it's the attributes you want to look at (eg name). So you'll want something like
[code]

[2018-01-06 09:58] pavoni commented on #51
I'll close this since there haven't been any other cases (and the one above looks like a vera/device problem). Happy to re-open if we get more to work on.

[2018-01-06 09:58] #51 closed

[2018-01-06 09:59] pavoni commented on #46
Closing since @alanfischer added scenes!

[2018-01-06 09:59] #46 closed

[2018-01-06 10:00] pavoni commented on #64
Closing - not much we can do unless someone with a vera secure wants to contribute something.

[2018-01-06 10:00] #64 closed

[2018-01-06 23:32] 172pilot commented on #83
Thank you so much - That works great, and I think I understand the code..  I have more questions, but it's better served by a python forum than pyvera now that I know the terminology to use.

Thanks for putting up with my generic python support question!!

[2018-01-06 23:33] #83 closed

[2018-02-12 14:37] patrik3k opened #84 "Code snippet to support VeraSecure built in siren"
Hi,
first off I'm a total noob on github so this is probably the wrong way to handle this. Secondly, big thanks for writing this library.

Now to the topic.
I have a VeraSecure controller that is connected to Home Assistant that is using your library. The VeraSecure have an built in siren that is triggered with the different modes. It can also be turned on and off via Luup calls. BUT the siren is

[2018-02-12 15:06] pavoni commented on #84
Cool - thanks for contributing!

The `correct` way to do this is for you to fork the library on github to get your own version. Create a new branch on your version - commit your changes - and then send me a pull request with the code above.

The advantage of that is when I merge the code into my repo - I know I'm using exactly the code you've tested - pllus you get added as a contributor and get c

[2018-02-12 21:32] patrik3k commented on #84
Hi Greg,
Thanks for quick and very informative response. Its a long time since my programing days and I heard CVS is out of style nowadays:)

But its great, I learned something new. I have created a new branch and a pull request for you. I really hope I did it correctly. Your snippet looked much cleaner and consistent so I used it, there was just a  missing closing parenthasis  in the if statement

[2018-02-13 12:45] pavoni commented on #84
Thanks @patrik3k - looks good now merged.

I followed the same path myself (not coding for many years - and then getting back to it) - so nice to have helped you a little along the way.

Thanks again for the contribution.

[2018-02-13 12:45] #84 closed

[2018-02-13 20:03] patrik3k commented on #84
Hi Greg,
I’ll getting the hang of it;) I have created a pull request for HA.

All the best,
Patrik Ekström
CEO
Top of Minds
Sturegatan 4
114 35 Stockholm, Sweden
mobile: +46 708 406952

[2018-02-21 15:48] toggledbits opened #86 "Polling loop/thread fragile, gets knocked out by common conditions too easily."
I use pyvera as part of my HomeAssistant installation. I've noticed that a restart of the Vera, either full reboot or restart of Luup (Vera's HA service), causes the polling loop to take an unhandled exception and quietly die. Luup restarts on Vera are very common--almost any device configuration change will cause one, and they occur spontaneously several times a day. That crashes the polling loop

[2018-02-21 15:54] pavoni commented on #86
Sounds good. Would welcome a PR.

If you fork the repo into your githib account, create a new local branch, make the changes (and test them) please send me a PR. Guthub make this very easy. Shout if you need more help.

What you describes sounds like a great change (and I probably should have done as you describe from the beginning!

I almost never reboot my vera - so this hasn't been an issue for

[2018-02-21 22:00] toggledbits commented on #86
OK. Been using GitHub a while, but have never done a PR. Give me another day to really shake this change down. I figured out the exception puzzle, so that makes for a cleaner, more complete solution that I now have running. Stay tuned! Thanks for being gracious about the suggestion/changes.

[2018-02-22 18:21] toggledbits commented on #86
OK. Pull request is in. Hope I did it right.

[2018-03-11 09:48] pavoni commented on #86
Now released as 0.2.42. Thanks very much for the contribution.

[2018-03-11 09:48] #86 closed

[2018-04-10 01:38] jwater7 commented on #82
With the latest release (which includes commit 2ea1464c4909b5858772abe3950db44a2d1cdd5b), it looks like this issue is actually resolved (long-polling with sleep only on exception has been implemented) now in case anyone is interested.

[2018-04-11 14:28] toggledbits opened #89 "Vera bug in dataversion handling across reloads loses device state"
The polling loop uses long polls, but when Vera restarts Luup, it does not give consistent and accurate device-change data when given a pre-restart value of dataversion. Pull request for a simple patch to clear timestamp and force reload after an exception fixes this.

[2018-04-12 04:38] jwater7 commented on #82
@toggledbits, there used to be 2 sleeps, one was on error (which makes a lot of sense I think) and the other one was a hard "sleep(1)" that you removed and that change is now in master.  Is that the one you're referring to as a safety net and are considering adding back in?  I'm not sure of the implications, but I'm more just curious if there's something identified as the culprit.

[2018-04-12 13:54] toggledbits commented on #82
There are still two sleeps in the current code. One happens between polls when there is no error (whether or not there is delta data)--that's the 1 second sleep in the current code. It got moved, but it's still there. I had removed it in the initial commit of my pull, but @pavoni told me why he had it there, and testing confirmed it's better with it (if you want detailed info, let me know--it may

[2018-04-12 19:19] pavoni commented on #82
Thanks for explaining @toggledbits.

[2018-05-05 20:17] roflcoopter commented on #51
I am facing this issue with one door sensor and now one motion sensor. The motion sensor was working but for various reasons i wanted to exclude it then reinclude, but now the state doesnt update in home assistant anymore. The logs indicate nothing when the device is tripped

[2018-05-18 15:56] tommkil commented on #73
Just installed a Fibaro fdgw-002 lotion and temperatur sensor wich Vera support in their latest firmware but it does not show up in Home assistent. Related to this?

[2018-05-18 15:59] alanfischer commented on #73
I could take a look if you post the result of http://your_vera_url:3480/data_request?id=sdata

[2018-05-18 17:21] tommkil commented on #73
Great, this is what i got

`{ "full": 1, "version": "*1.7.3830*", "model": "Sercomm NA301", "zwave_heal": 1, "temperature": "C", "skin": "mios", "serial_number": "45103638", "fwd1": "vera-eu-oem-relay12.mios.com", "fwd2": "vera-eu-oem-relay31.mios.com", "mode": 1, "sections": [ { "name": "My Home", "id": 1 } ], "rooms": [ { "name": "Garasje", "id": 6, "section": 1 }, { "name": "Hambrosvei", "id":

[2018-05-19 07:20] pavoni opened #91 "Rationalise `get_value` & `get_complex_value` and refactor."
I added this to continue the discussion here https://github.com/pavoni/pyvera/pull/88

`get_value` is a confusing name for a function that gets the summary state from the vera sdata call, and contains a `.lower` call to attempt (unsuccessfully) to unify the data that comes via the service calls and the sdata call.

`get_complex_value` gets data from the service calls - but via a rather ugly cachin

[2018-05-22 03:37] jwater7 commented on #91
Maybe this is obvious, but I can't seem to easily find the answer - is it even possible to use the "complex" service calls using a similar polling mechanism that is used for the get_value sdata call?

[2018-05-22 09:13] pavoni commented on #91
I think @toggledbits had an idea about how to do this - although the current code (based on a vera sample of how to use long_poll) won't do this.

[2018-05-25 19:41] tommkil commented on #73
Hi
Did you managed to look at this?

[2018-05-27 01:41] toggledbits commented on #91
Sorry, just saw your question, @jwater7 . Yes, you can pass `DataVersion ` to a `status` request (the one that returns all state values rather than just shortcodes) as you do for `lu_sdata`, although not the capitalization used (different from the `lu_sdata` request). The `loadtime` parameter also used with `lu_sdata` does not need to be passed, however. But yes, everything that the polling loop i

[2018-07-10 20:21] josephlm opened #96 "VeraDimmer.get_color() and VeraDimmer.set_color() don't seem to be working"
I am using PyVera CommitId: e2c527fd8042a2116a7f7a884c2536e854c4a2be (latest master at time of writing this).

I am using Vera Hub Plus with F/W: 1.7.3831 (latest F/W at time of writing this)
I had originally tried with F/W "1.7.3307". Both Firmware versions fail to let me get/set color.

I am using Philips Hue Light as example. I am able to get/set colors from the Vera app (3.17) on an IPhone.

I

[2018-07-11 15:39] alanfischer commented on #96
I'm not sure off hand what might be wrong, but for starters if you could report what you get for:
http://your_vera_url:3480/data_request?id=sdata
Then I could start looking into it.

[2018-07-11 16:45] josephlm commented on #96
Hi Alan,

Thanks for responding.

Here is the payload you’ve requested:

{ "full": 1, "version": "*1.7.3831*", "model": "Sercomm G450", "zwave_heal": 1, "temperature": "F", "skin": "mios", "serial_number": "50016225", "fwd1": "vera-us-oem-relay41.mios.com<http://vera-us-oem-relay41.mios.com>", "fwd2": "vera-us-oem-relay62.mios.com<http://vera-us-oem-relay62.mios.com>", "mode": 1, "sections": [ { "

[2018-07-11 17:00] josephlm commented on #96
Here it is passed through pretty print:

{
  "full": 1,
  "version": "*1.7.3831*",
  "model": "Sercomm G450",
  "zwave_heal": 1,
  "temperature": "F",
  "skin": "mios",
  "serial_number": "50016225",
  "fwd1": "vera-us-oem-relay41.mios.com<http:\/\/vera-us-oem-relay41.mios.com>",
  "fwd2": "vera-us-oem-relay62.mios.com<http:\/\/vera-us-oem-relay62.mios.com>",
  "mode": 1,
  "sections": [
    {

[2018-07-11 22:11] alanfischer commented on #96
Thanks, if you could also paste the result of
http://your_vera_url:3480/data_request?id=status
then I should have everything

[2018-07-11 22:31] josephlm commented on #96
Pretty Printed:

{
  "startup": {
    "tasks": [

    ]
  },
  "devices": [
    {
      "id": 1,
      "states": [
        {
          "id": 389,
          "service": "urn:micasaverde-com:serviceId:ZWaveNetwork1",
          "variable": "Use45",
          "value": "1"
        },
        {
          "id": 390,
          "service": "urn:micasaverde-com:serviceId:ZWaveNetwork1",
          "variable":

[2018-07-12 14:40] alanfischer commented on #96
Thanks.  It looks like the Hue bulbs have their own PhillipsHue service instead of the standard vera color service.  That would explain why they don't work with the set/get color methods.  The change to also support Hue wouldn't be too difficult to implement if you are somewhat comfortable in python.

[2018-07-13 15:33] toggledbits commented on #96
There's an update Hue plugin (AltHue) for Vera that fixes a lot of the ills of Vera's own plugin. I recommend trying it if you're on Vera's (old) plugin, and see if that addresses your issue. If not, I'm sure the plugin developer (amg0) would be willing to address it. It does not seem to me that coding an exception in pyvera is the right approach.

ref: http://forum.micasaverde.com/index.php/topic

[2018-07-17 14:44] grantclem opened #97 "Remotes recognised within Home Assistant"
As it currently stands there appears to be no support for the use of Z- Wave “remote controllers” in HA via Vera. As an example I can use the Aeotec Minimote and create automations through HA, because it is recognised as a sensor. With the Fibaro KeyFob, it is not recognised at all… this means i have to create scenes on Vera for it to work, which is not ideal.

My intentions with my VeraPlus hub i

[2018-07-26 19:02] alanfischer commented on #97
@grantclem I do not have a Fibaro KeyFob to test this with, but if you are willing to get some data for me, I could attempt a fix.

I'd need you to visit these 2 urls on your vera and send the result:
http://your_vera_url:3480/data_request?id=sdata
http://your_vera_url:3480/data_request?id=status

Thanks

[2018-07-27 00:18] grantclem commented on #97
Hi Alan,

Thanks for making contact and having a look at this request for me - I have attached the requested files. Currently I have a minimote device that works fine and produces itself as a sensor within Home Asssistant. The states changes briefly when you push the buttons from either 1-9. Keyfob does not present itself in HA at all.

Regards

Grant

Happy to do any testing you require

[2018-07-27 00:30] grantclem commented on #97
Zip version

[2018-07-27 00:37] alanfischer commented on #97
Not seeing it.  Please email them to alan.fischer@gmail.com

[2018-07-27 01:19] alanfischer commented on #97
Ok, getting closer.  If you could email me http://your_vera_url:3480/data_request?id=status with you pressing 1 button on one of the remotes, and then press a different button on the same remote and send http://your_vera_url:3480/data_request?id=status again I might be able to figure it out.

[2018-07-27 02:53] alanfischer commented on #97
Ok, I have an experimental branch that may support remotes.  Are you comfortable with git & python enough to run some commands I could give you to test it?

[2018-07-27 03:53] grantclem commented on #97
Lol, never comfortable, but happy to try.

Sent from my iPhone

[2018-07-27 15:59] alanfischer commented on #97
Fix merged in

[2018-07-27 15:59] #97 closed

[2018-10-01 17:57] kdschlosser commented on #78
I know it has been almost a year since I chimed in on this.

Give this a test.
https://github.com/kdschlosser/MiCasaVerde_Vera

It dynamically ports the code on the Vera to python. Plugins. Devices. All of it. There is not a single thing that is not accessable from it. Nice thing is it supports every single plugin made. As well as every device the Vera supports. Now and into the future. No need to

[2018-10-05 10:07] thundergreen commented on #73
I have the same issue ... No temperature and lux showing in Hass but Vera ..here my Jason snippet:

'''
{ "full": 1, "version": "1.7.4001", "model": "Sercomm G450", "zwave_heal": 1, "temperature": "C", "skin": "mios", "serial_number": "50105158", "fwd1": "vera-us-oem-relay31.mios.com", "fwd2": "vera-us-oem-relay52.mios.com", "mode": 3, "sections": [ { "name": "My Home", "id": 1 } ], "rooms": [ { "

[2018-10-05 11:07] pavoni commented on #73
@thundergreen This has been attached to an unrelated, closed issue. Could you open a new issue?

The categories looks fine - so you'll need to do some digging.

If you are a developer can you install the library, run python - replace the IP address below with your vera IP - and see what the following gives you.

[code]

[2018-10-22 23:36] tjshin opened #100 "Linear GD00Z-4 garage opener"
Hello,

I have a Linear GD00Z-4 garage opener paired with Vera. However, it is not showing in my Home Assistant. When I browse http://vera_ip:3480/data_request?id=lu_sdata I can see the garage opener as one of devices. What I am missing? Any help will be much appreciated.

[2018-10-23 11:58] alanfischer commented on #100
Could you post what you see at that url?

[2018-10-23 12:09] pavoni commented on #100
On the road - but I while this was added to pyvera - I don’t know if the
contributer (sorry can’t check the name  at the moment) released the HA
binding to make use of the changes.

On Tue, 23 Oct 2018 at 00:36, tjshin <notifications@github.com> wrote:

[2018-10-23 16:44] alanfischer commented on #100
Looks like the commit was merged in and should be in the next release of HA:
https://github.com/home-assistant/home-assistant/pull/17419/commits/2c9a4236b0d155a39e545240fdfce8b047467b3a

[2018-10-23 16:44] #100 closed

[2018-11-24 07:14] htcheng opened #102 "Vera Thermostat not reporting correct heat setpoint state in DeviceInfo area"
I have two different model zwave thermostats (Trane and Honeywell) connected to Vera and pyvera is incorrectly reporting the "heat" setpoint for both of these devices when the thermostats run their internal schedulers. Vera is showing the correct information for both thermostats, but when pyvera parses the state information, it is not correctly parsing the returned values. I suspect this is becaus

[2018-11-24 07:17] htcheng commented on #102
[veraxml.pdf](https://github.com/pavoni/pyvera/files/2612066/veraxml.pdf)

[2018-11-24 07:31] htcheng commented on #102
Hmm. I think I found an easier solution to the issue by modifying the following:

def get_current_goal_temperature(self, refresh=False):
        """Get current goal temperature / setpoint"""
        if refresh:
            self.refresh()
        try:
            **return float(self.get_complex_value('CurrentSetpoint'))**
        except (TypeError, ValueError):
            return None

[2018-11-24 07:33] htcheng commented on #102
The above solution works for me...

[2018-11-24 09:45] pavoni commented on #102
Sorry to hear about the issue. I don't have a thermostat - so I need to be very careful about changes there.

Mostly the vera code tries to get state info via subscription, that means that it doesn't need to call vera every time a variable value is requested - and that HA states update in real time.

`get_complex_value` bypasses this mechanism - so should only be used, with care, where there isn't

[2018-11-24 16:39] htcheng commented on #102
Thanks, Greg. I think that using the ‘AllSetpoints' variable to set the devinfo state is probably the way to go, since it seems to be universal across different thermostats and actually includes the range of heat/cool set points. I don’t know if this is actually true with heat only thermostats, but seems to be true across the Trane and Honeywell thermostats I’ve seen.

It’s strange that Vera or th

[2018-11-25 14:56] toggledbits commented on #102
I'm the developer of three thermostat interfaces/plugins for Vera (IntesisBox, Venstar ColorTouch, and AutoVirtualThermostat). Vera's handling of temperature setpoint vs UPnP is gawd awful (well, it's awful at everything, but that's another thread). Unfortunately, AllSetpoints is not to be trusted--it isn't even declared in any of UPnP's standards or Vera's extension service declaration files, it

[2018-11-25 15:02] toggledbits commented on #102
It's not the same variable. In the Vera/UPnP world, a variable is identified by its name _and a serviceId_. If you see more than one variable with the same name in the Vera UI, it's because each is in a different service. See my previous above for why you seem to have three "CurrentSetpoint" variables.

[2018-12-03 17:34] htcheng opened #103 "Excluding Vera Scenes and Devices configuration"
Hi,

This [thread](https://community.home-assistant.io/t/exclude-vera-scenes-from-hass-io/80036) I believe should be cross-linked here.

The reporter is correct that vera scene IDs and device IDs can share the same number - I was just about to ask whether there is an easy way to exclude all Vera Scenes and then add them in selectively like with other components, but it does not appear so and if I

[2018-12-03 18:06] alanfischer commented on #103
It should be fairly trivial to add an exclude_scenes configuration option to the vera component in HA.  That would get around the ID overlap issue.  I might have time this week to get an HA pull request in for that...

[2018-12-03 18:34] pavoni commented on #103
@alanfischer got there before I did. If you take a look at the logic for excluding devices (eg https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/vera.py#L88) then it should be fairly easy to add an extra config variable to do the same for scenes.

[2018-12-04 17:15] htcheng commented on #103
Upon further investigation, it appears that the connection errors I highlighted above were present before the upgrade to HA 0.83+ (I just didn't notice the errors earlier in the log files). The connection errors seem to start in most cases EXACTLY (to the second) 60min after homeassistant is started. I suspect that they might be related to the large number of scenes I have in my setup and the need

[2018-12-15 06:45] htcheng commented on #103
I replaced `get_complex_value` with `refresh_complex_value` with my thermostat setpoints (see other thread) and that solved the post-reload state change update issues and it appears to keep Vera in sync with HA now. Set up has been running very reliably now and haven't needed to exclude my vera scenes... yet.

[2018-12-19 05:05] zintrepid opened #104 "VeraDimmer.turn_on() overwrites previous brightness"
Many dimmable bulbs and switches record their last known brightness so that, when switched on, they will restore their previous brightness. Some switches even have settings to turn on to a specific brightness when pressed. Even the Vera controller's native software will not overwrite the brightness when turning on a dimmable switch by default. pyvera's current behavior is to overwrite the last kno

[2018-12-19 05:06] zintrepid commented on #104
I propose https://github.com/pavoni/pyvera/pull/105 as a solution to this problem.

[2018-12-25 20:31] technicalpickles opened #106 "More metadata about battery and communication status"
I have like 6 Schlage Connects, and 3 of them are in various states of flakiness. When I look at HomeAssistant, there isn't really anything to indicate that there are problems iwth them, except for 1 that has 0% battery.

It'd be super useful to have additional metadata. I started poking around a `VeraDoor` object to see what kinda of data the API already has. A few fields seem relevant:

- Batter

[2019-04-02 18:29] toggledbits opened #107 "The "complex" variable functions do not consider service Id"
Ref this discussion: https://github.com/home-assistant/home-assistant/issues/18491#issuecomment-479131438

The "complex" functions in pyvera currently look up the variable name in the "states" substructure and operate on the first matching name. However, variable names are not unique in Vera. A state variable is uniquely identified only by the *combination of service Id and variable name*.

I reco

[2019-04-02 18:31] toggledbits opened #108 "call_service() function does not accept action arguments"
I feel like I'm missing something, because this is really basic, but here goes:

The `call_service()` function accepts a device, service Id, and action, but no parameters for the action in question. Many Vera actions have parameters. How are they to be passed?

[2019-04-02 18:34] toggledbits commented on #108
OK. I see that `set_service_value()` is actually an action call that accepts a single parameter, and can only execute actions the name of which begins with the string "Set". That's... interesting. It still doesn't address other actions, or multiple parameters.

[2019-04-02 18:39] toggledbits opened #109 "variableset request--set the value of a state variable"
It does not appear that there is a `variableset` request in current pyvera, so there seems to be no way to set the value of a state variable with it.

There is `set_service_value()`, but I feel this is misnamed. What this function actually does is execute a UPnP action, as long as its name begins with "Set", which not all do and that's a separate issue I mentioned in issue #108. It looks like ther

[2019-04-03 17:27] pavoni commented on #107
The vera code initially assumed all the names were unique!

I've generally been trying to avoid the "get complex" functions because they require a poll  - rather than the subscription based functions. I really only left "get_complex" as a fallback for compatibility.

I don't have a thermostat - so am rather cautions about changing this code - @alanfischer did most of the work on this.

[2019-04-03 23:36] toggledbits commented on #107
I get it, and unfortunately, he may have unwittingly started off on the wrong foot. No disrespect intended at all, there--his work is great, as is yours after, and it has carried this project far. But almost every integration I've seen with Vera (including my own early efforts) goes with the approach of using `lu_sdata` requests and relying on the relatively quick, simple, lightweight replies one

[2019-04-04 08:23] pavoni commented on #107
@toggledbits I have less time to work on HA related stuff than I did - so I wouldn't be able to commit the time to do this myself. As I think you realise it is pretty much a ground up rewrite. From experience the first time round in getting the subscription mechanism to work reliably - a lot of the work will be testing, dealing with timing and race conditions, and odd undocumented behavior!

My en

[2019-04-04 08:35] pavoni commented on #108
`call_service` gives access to the full api where needed `set_service_value` is largely there because most of the devices only needed this reduced functionality, so when the `call_service` call was added we retained this for DRY reasons.

Open to a PR if you feel something more functional than `set_service_value` but less rich than `call_service` is required.

Closing this for now.

[2019-04-04 08:35] #108 closed

[2019-04-04 11:51] toggledbits commented on #108
OK. What am I missing? Let me give an example:

The `RunLua` action in `urn:micasaverde-com:serviceId:HomeAutomationGateway1` accepts (requires) a single parameter, `Mode`, and modifies the current house mode on Vera.

It is not possible to use `set_service_value()` to run this action because the name of the action does not begin with "Set", which is hard-coded in that function (i.e. the function

[2019-04-04 11:57] pavoni commented on #108
My note should have referred to `vera_request` rather than `call_service`, apologies.

Generally I think it's good practice to add parameters as they are needed, so no problem adding an extra parameter if you need it for something.

[2019-04-04 14:29] alanfischer commented on #107
I also do not foresee myself having time to do any pyvera work in the near future.  However I would be happy to test out any modifications if that is helpful.

[2019-05-04 14:38] GaryOkie commented on #107
@toggledbits,

I waited a month to ask this, but have you decided to take on the effort to improve pyvera?

I'm a long-time Vera hub user and have greatly appreciated the excellent work your alter-ego Rigpapa has done developing plugins.   I now primarily use the Vera for Zwave and security panel connectivity and leave the rest to HASS.

I am now needing to replace a Wink hub for my elderly parent

[2019-05-13 14:19] toggledbits commented on #107
Sorry for the slow reply. This one took some soul-searching.

Indeed, because Hass is apparently the major consumer of pyvera, it takes much more than a modification of pyvera to make thermostats and other devices work fully and correctly in Hass, with all of their state available and intact, and properly displayed. The Vera component would also require significant surgery. Combine this with @pavo

[2019-05-14 14:37] GaryOkie commented on #107
Thanks Patrick for the thoughtful reply.   I follow the Vera Community rather closely and know full well of your many contributions to this platform and of the work by EZLo to rehabilitate support and development.   Vera's future is indeed much brighter.

I personally view the VeraPlus as one of the best  Z-wave hubs available, and hope it can continue to be a viable dedicated hub to be used in co

[2019-06-03 21:55] pavoni commented on #96
Closing the issue given the discussion above.

[2019-06-03 21:55] #96 closed

[2019-06-03 21:57] pavoni commented on #106
Sorry for the long delay - would welcome a PR to add something to the examples directory if you'd like to do this.

Closing the issue for now.

[2019-06-03 21:57] #106 closed

[2019-06-04 04:55] grantclem commented on #97
Hi all,
Alan was working on this issue mid last year and the fix  provided was working fine up until the "Great Migration" of Home Assistant. It was never merged in the end as Alan was busy with other things and as a workround I simply used the modified sensor.py file as a Custom Component.  I am not quite sure why it has stopped working as was wondering if it could actually be merged if resolved

[2019-06-04 04:59] grantclem opened #111 "Use of Fibaro Zwave Key Fob Remote"
Hi all,
Alan was working on this issue mid last year (# 97) and the fix provided was working fine up until the "Great Migration" of Home Assistant. It was never merged in the end as Alan was busy with other things and as a workround I simply used the modified sensor.py file as a Custom Component. I am not quite sure why it has stopped working as was wondering if it could actually be merged if reso

[2019-08-12 09:39] MarkJenniskens opened #114 "pyvera not updating HA; device_list is always empty"
The device_list on line 98 of subscribe.py is always empty, thus received changes/data never translates in an event for HA.

(hass.io v0.97.2)

@pavoni Found a fix: #115

[2019-08-14 11:58] guerrerotook commented on #114
Hi @MarkJenniskens I found the same in my HA installation and I ran the examples/device/listener.py from this repo and I confirm is not working. At the same time I confirm what you said about the line 98 of the subscripbe.py.

What I did on my code and now is working is convert device_id from string to in like this:

`device_list = self._devices.get(int(device_id), ())`

And now the notifications

[2019-08-14 13:18] MarkJenniskens commented on #114
I did a PR for that: #115
But there may be differences between Vera versions. Hopefully @pavoni can shed some light on it or merge the PR.

[2019-08-14 13:42] guerrerotook commented on #114
I didn't see that! I fix my installation manually and it's working now.

[2019-08-14 13:45] pavoni commented on #114
I'll merge and release these - sounds like it certainly won't make anything worse, although it's possible there are other related issues.

I guess there is a revised vera firmware than changes the types.

Can you guys list what firmware versions you're using? I generally don't update my firmware after previous updates broken things (with zwave rather than pyvera!).

[2019-08-14 13:48] guerrerotook commented on #114
My Vera controller is using 1.7.4452 version and HA is 0.97.2

[2019-08-14 13:50] pavoni commented on #114
So I guess that's the latest firmware. I'm still on 1.7.4000.

[2019-08-14 14:09] pavoni commented on #114
I've released this as 0.3.4, can you guys check it works OK on your firmware? I'll check on mine.

[2019-08-14 14:12] MarkJenniskens commented on #114
Great, will check!
Firmware:  1.7.1040 (latest for my old Vera Lite)

[2019-08-14 17:03] GaryOkie commented on #114
FYI, the latest Vera UI7 version (released April 2019) is 7.029.  The latest firmware that came out the same time is **1.7.4452 Vera Edge / 1.7.4453 Vera Plus / 1.7.4454 Vera Secure**.    I understand that Vera's older than these 3 models will no longer be updated.   Officially noted [here](https://community.getvera.com/t/ui7-web-ui-7-0-29-ga-april-24-2019/208088).

I'm running the latest HASSIO 9

[2019-08-14 17:12] MarkJenniskens commented on #114
If you can't wait for an HA update which includes pyvera 0.3.4 you can do the following **at your own risk;**

- SSH into you're hass.io

- Enter the HA docker:  `docker exec -it homeassistant /bin/bash`

- Edit the manifest of the Vera component and set the version to 0.3.4: `vi /usr/src/homeassistant/homeassistant/components/vera/manifest.json`

- then `pip install pyvera==0.3.4`

- `exit`

- `h

[2019-08-15 02:46] GaryOkie commented on #114
Thanks very much for the Hassio pyvera update instructions!   I can easily manage that once I get back home in a couple of days.  Maybe by then, the official update will be ready as well.

[2019-08-15 19:56] smurry commented on #114
@MarkJenniskens , thanks!  I was able to follow your instructions for updating PyVera and it appears that it may have solved the issue for me.  Vera states are again showing up.  In the past, sometimes states have stopped updating in HA after a period of time.  I will monitor and post if they stop updating again.

[2019-08-17 22:35] mdrileynyc commented on #114
Had the same problem. Above workaround to install 0.3.4 fixed things.
HA 0.97.2
Vera3 1.7.1040  (no more updates for vera3)

[2019-08-21 18:01] MYeager1967 commented on #114
While this is a great fix, the files aren't in the same place for those of us running HA (non HASSIO) in a Docker container. I'm running it on a Synology NAS in Docker and although I found a Vera folder under components, there's no manifest.json in it...

[2019-08-22 12:48] MarkJenniskens commented on #114
That's wierd, I thought they used the same source.
Can you post the exact folder location?

[2019-08-22 18:39] MYeager1967 commented on #114
I've got a few busy days ahead, but I'll get to it as soon as possible.

[2019-08-23 22:13] keithmichael commented on #114
I am running HA in virtualenv and my path is :
`/srv/homeassistant/lib/python3.6/site-packages/homeassistant/components/vera/manifest.json`

The modification works for me! Thank you everyone.

FYI - We should heed @MarkJenniskens warning - I believe we will need to keep updating this manifest.json file each time HA releases a new update, until HA includes .34, otherwise...cats and dogs.

[2019-08-23 22:51] MYeager1967 commented on #114
Mine is in /usr/src/app/homeassistant/components/vera and I found the manifest.json file. Took a bit of effort to modify it, but it's done. Now to see if it works... Would it be easier to drop a copy of the component in the custom components directory until it's fixed? Not sure how to do that, but it's a thought...

[2019-08-25 16:17] markiper commented on #114
Just made the modification as per @MarkJenniskens instructions, and all is working (HA 0.97.2 / vera 1.7.4453) .

[2019-08-29 14:04] GaryOkie commented on #114
FYI  - The HA .98 release notes confirm pyvera 3.4 is included.

- Update pyvera to 0.3.4 (@KptnKMan - #25986) (vera docs)
- cats and dogs at peace!

[2019-10-03 21:35] alanfischer commented on #111
@grantclem Would you be able to see if this branch works again?

https://github.com/alanfischer/home-assistant/tree/scene_controllers

If we can get it working, I would be up for attempting to merge it into HA again.

[2019-10-04 00:23] grantclem commented on #111
Hi Alan,

Apologies, I have since got rid off the Fibaro controllers and have moved on.

Regards

[2019-10-04 14:57] #111 closed

[2019-10-31 16:05] GaryOkie commented on #102
Hi @toggledbits ,

Regarding your comment

I am wondering if by changing out my Zwave therm0stats that are currently controlled by Vera, to a Venstar Touch wifi,  would this nasty problem of showing the wrong setpoint in HA go away?

This bug wasn't an issue in the summer (cool mode), but now that the T-stats are in Heat mode, showing the cooling setpoint insted of heat setpoint in HA is just unac

[2019-11-11 17:11] GaryOkie commented on #102
I've replaced my Zwave thermostats with Venstar T7850's and first tried @togglebits Vera plugin.   It works very nicely - for the Vera UI.   But via HA/pyvera it has the exact same problem reporting an incorrect heat setpoint.    This should have been expected, and a bit naive of me to think there may have been a workaround at the plugin level.

So while I continue to rely on a VeraPlus hub to man

[2019-11-11 17:34] GaryOkie opened #121 "Vera 7.3 firmware Beta & pyvera"
Does anyone who relies on or maintains pyvera plan on participating in the [Vera 7.3 core firmware Beta](https://community.getvera.com/t/vera-7-30-core-firmware-beta-release/210665) testing?

This would be a great opportunity to not just get a jump on any potential backwards compatibility issues but also to provide input on improving the API.

This firmware update is quite massive in content, and

[2019-11-11 18:02] alanfischer commented on #102
@GaryOkie I use pyvera for my CT101 and it works for both heat & cool fine.  I might be able to assist with a fix for this.  Or at least, I can attempt to make changes and verify that it doesn't break what currently is working.  Are you able to build a custom pyvera and see if the solution that @htcheng originally posted works, aside from the device info area?

[2019-11-11 18:46] GaryOkie commented on #102
Hi @alanfischer  - After reading the caution from Greg/@pavoni about get_complex_value bypassing normal pyvera subscription behavior, and Patrick's/@toggledbits detailed info, I decided to just wait until the next heating season hoping there would be a permanent fix (not an iffy hack) in the meantime.

Well, a year later I could have gone with the custom local fix and try to keep up with all the o

[2019-11-13 16:57] pavoni commented on #121
Hi @GaryOkie - as you'll have seen - this isn't the most active repo around. I think it's mainly because it generally works well enough for the basic cases that most of us use.

I would certainly welcome an active participant interested in doing what you suggest.

I have to confess that I mostly leave my vera firmware as it is (having had some issue upgrading in the past) - since for me it seems v

[2019-11-13 16:59] pavoni commented on #114
Based on the comments above, I'll close this. Please re-open is the issues re-occur.

[2019-11-13 16:59] #114 closed

[2019-11-13 17:00] pavoni commented on #107
Closing for now,

[2019-11-13 17:00] #107 closed

[2019-11-13 17:02] pavoni commented on #78
This is an interesting - but very different approach approach.

The code base is currently fairly simple and stable - and there isn't a huge volume of activity - so I feel this is a step too far for this repo at present.

[2019-11-13 17:02] #78 closed

[2019-12-27 08:38] Koffeinuser opened #127 "Support for Power meter (pulse counter)"
I have a Z-Wave device that counts pulses from our electricity meter and reports the accumulated value (i.e. showing the same value as on the meter) - see https://www.northq.com/q-power.

I'd love to have support for that added to Home Assistant and have added the sdata and status output (it's device 377). Anything I can do to help out?

[sdata.txt](https://github.com/pavoni/pyvera/files/4004791/s

[2020-02-16 03:56] brgerig opened #128 "Frequently fails on Home Assistant restart with "Entity already exists""
When restarting Home Assistant, I very frequently get errors in the log similar to the following:

[code]

There are usually errors for most of my devices. When this happens, HA is unable to control them. My only option is to keep restarting HA until the errors don't show up. I haven't been able to figure out any pattern as to when this does or doesn't happen.

[2020-02-24 02:52] brantlk opened #129 "Vera 7.31 breaks thermostat?"
Updated Vera firmware today (currently reports `1.7.4955 (7.31)`) and since then the thermostat isn't working (in Home Assistant).

Here's what pyvera is currently showing for the device:

[code]

Not sure if there's anything that pyvera can do about this, looks like the vera is reporting category 0 for some reason.

[2020-02-24 03:02] brantlk commented on #129
Here's the output for `id=sdata`:

[code]

Category says 0 for some reason.

[2020-02-24 03:11] brantlk commented on #129
I reported this to vera support since it seems the device isn't working as expected.

[2020-02-24 17:48] GaryOkie commented on #121
Just installed the Vera 7.31 production firmware.   It's working quite well, but am concerned about a new error I'm seeing in the pyvera/HA integration.   Someone else just posted about a thermostat problem so it does appear that this update may require further investigation.    I'll close this and raise a new issue with the new _ERROR (Vera Poll Thread) [pyvera.subscribe] Unhandled exception in c

[2020-02-24 17:48] #121 closed

[2020-02-25 01:23] brantlk commented on #129
unplugged the vera and plugged it back in and now the vera reports the correct info and things are working again.

[2020-02-25 01:23] #129 closed

[2020-02-25 11:30] pavoni commented on #129
Great news - thanks.
How is the firmware update working for you?

[2020-02-26 20:10] brantlk commented on #129
I haven't noticed any differences after the update. Was hoping that they'd add support for the aeotech doorbell 6... just checked the vera site and they say that it's supported now so I need to try it out.

[2020-03-16 13:02] steveelwood commented on #128
I have the same issue. There's a thread on the Home Assistant forums documenting the same bug.
https://community.home-assistant.io/t/vera-error-entity-ids-already-exist-unable-to-toggle-devices-on-and-off/171397

[2020-03-18 14:40] pavoni commented on #128
This is an odd one. Seems likely that something has changed in HA that causes this. given that it seems intermittent it might even be some sort of timing issue

Given that this library just gets the ids from Vera - it's hard to imagine where is anything here.

I guess it' s possible that the HA wrapped needs modification - although again that's pretty simple.

Don't know what to suggest - except t

[2020-04-02 13:31] brgerig commented on #128
It's actually been an issue for a while, at least since I began using Home Assistant back in the .80's. Today it happened for probably 6+ restarts in a row before I finally got a clean restart without Vera device errors.

[2020-04-02 14:38] vangorra commented on #128
I'm aware of a bug with the HA integration that can cause this. The short of it is this will take a while to fix. I already have one PR in that modernizes the vera config. Once that lands, then we'll gave the code in place to fix the unique ID issue.
Once the id fix is in place, you'll have to remove your existing config from vera then re add it. This will result in entirely new entity IDs.

The c

[2020-04-02 16:24] brgerig commented on #128
Great news! Thanks for the update, and for the work you're putting in to getting it fixed.

[2020-04-29 03:18] vangorra commented on #128
Closing as this will be resolved in home assistant.

[2020-04-29 03:18] #128 closed

[2020-06-04 07:57] pavoni opened #134 "Possible async issues in pyvera exposed by home assistant"
@vangorra I know you've been looking at this for a while.

My recent experience of going from a working set-up to one that sometimes go wrong when I upgraded HA but left Vera unchanged - suggests it's not a Vera problem - but a pyvera / HA issue

With all the dev work and expertise on HA - I expect async race conditions in HA would get sorted (I suspect the device _2 issue was probably like this s

[2020-06-04 15:16] vangorra commented on #134
TLDR; Fixed here: https://github.com/home-assistant/core/pull/35703

I noticed a few tickets for HASS which either suggested that the vera hub occasionally returned consistently inaccurate incremental data and/or a race condition with threading was encountered.

I worked around this by giving the HASS vera integration it's own implementation of SubscriptionRegistry. This implementation pulls all s

[2020-06-04 16:15] vangorra commented on #134
Yes, the poll interval is set every second. I tried running parallel requests every 100ms and ran into zero issues.

My instances have always been very responsive even with this recent HASS code change. I suspect there will be some unexpected issues that come up but we at least remove the race conditions.

Regarding switch responsiveness. I suspect the responsiveness will be the same or better.  A

[2020-06-11 09:51] pavoni commented on #134
Just saw the review comments - I guess with a 5s refresh it may be worth trying to combine the methods. 5s certainly wouldn't work for my use case - and perhaps for other users too.

You could still do a 5s refresh - but also trigger your update code in a return from the vera poll/wait call...

[2020-06-12 12:04] vangorra commented on #134
I'm confused. The HASS change uses a 1 second refresh interval in a loop. When entities like a switch are activated through HASS, then they activate a force a refresh too. I'm not aware of a 5s refresh anywhere.

[2020-06-12 12:21] pavoni commented on #134
There is a requested change on your HA pr saying that the minimum poll interval they allow us is 5s, do they won’t allow 1s.

[2020-06-12 12:48] vangorra commented on #134
I somehow missed that feedback. Working on it.

[2020-06-12 13:59] vangorra commented on #134
I'm to see you can reproduce the issue. I've been unable to. At any rate, I've updated the HASS vera component to use long polling. Hopefully this will be the best fix.

[2020-07-04 14:11] ackstorm23 opened #135 "Support for control of RGBWW devices such as Aeontec ZW098."
The Problem:

Pyvera does not appear to support the Aeontec ZW098, which has RGB as well as 2 white channels. (RGBWW?)

### The native Colored Light Bulb device

No app needed, this detects on it's own.

`{ "Device_Num_4": { "states": [ { "id": 1338, "service": "urn:upnp-org:serviceId:SwitchPower1", "variable": "Status", "value": "0" }, { "id": 1339, "service": "urn:upnp-org:serviceId:Dimming1", "

[2020-07-04 14:56] pavoni commented on #135
It would need a developer with one of these devices to add support. Contributions welcome.

[2020-07-04 15:05] vangorra commented on #135
I don't have the device but will see what I can do.

[2020-07-04 15:16] ackstorm23 commented on #135
I am not a developer but I will do my best to assist you.

[2020-07-09 13:51] vangorra commented on #135
@ackstorm23 Could you provide the device info for this light? This URL will return all devices (and a lot more) but I only need the object specific to the ligh. `http://10.40.8.245:3480/data_request?id=sdata&output_format=json`

For example, the device info for my upstairs hallway looks like this:
[code]
This is stored in a devices array in the response object.

[2020-07-10 02:17] ackstorm23 commented on #135
# The native device as it detects without additional apps

`      {
         "name":"Colored Light Bulb",
         "altid":"3",
         "id":4,
         "category":2,
         "subcategory":4,
         "room":3,
         "parent":1,
         "commFailure":"0",
         "configured":"1",
         "level":"57",
         "status":"1",
         "state":-1,
         "comment":""

},`

The device as it

[2020-07-10 02:32] ackstorm23 commented on #135
The RGB Controller Device found in the Vera UI under Apps, can control more than just this Bulb.  It claims to support:

- Hyperion
- Aeotec RGBW Bulb
- RGBW Dimmers
- Generic Z-wave color device
- Fibaro RGBW controller
- Zipato RGBW bulb

It might introduce RGBW support for Vera across a number of different devices, and as I've seen posts for Home Assistant not being able to control the white ch

[2020-07-10 12:47] vangorra commented on #135
I'm not particularly concerned with the RGB controller. There is enough information on the bulb itself to merit color and white controls.

[2020-07-25 17:08] GaryOkie opened #136 "Unhandled exceptions in pyvera (HA AssertionError)"
Not sure if this is a pyvera issue or Home Assistant Vera integration issue.   Started getting these with the update to HA .113.0 and .113.1.

The entities that are encountering errors are from CADDX/Vera  plugin (security door switches).   Not all switches are throwing this error.

Please let me know if this needs to be logged to HA Core Github as an issue instead.

[code]

[2020-07-25 18:57] pavoni commented on #136
This looks like a repeat of something similar I fixed for another library I maintain.

It's a home assistant core code bug exposed by some HA changes that expose timing / setup errors. So what's happening is that update callbacks are happening before the HA entity being called is properly setup. It was always a potential race condition.

Unfortunately this causes an exception which kills the monit

[2020-07-26 18:19] GaryOkie commented on #136
I'm a bit hyper-alert to new errors after an update so I thought this was something new related to HA .113.x as I had not encountered this particular error before.  Interestingly, after a restart, these errors did not repeat, and all the switch states from Vera to HA are apparently being handled just fine.

So it may have been something related to this .113 update taking longer for HA to setup the

[2020-07-26 18:44] pavoni commented on #136
I was in the code anyway - so have raise a simple PR https://github.com/home-assistant/core/pull/38251

@vangorra Can you check you're happy?

[2020-07-27 17:45] #136 closed

[2020-09-05 17:04] pavoni commented on #134
All working perfectly now - closing!

[2020-09-05 17:04] #134 closed

[2020-09-09 15:58] pavoni opened #137 "Sole owner on pypi?"
@vangorra I just noticed that I'm the sole owner of this on pypi.

I think it would make sense to add you too if you're willing.

Not as important as if you hadn't automated the build - but probably still a good idea.

[2020-09-11 02:30] vangorra commented on #137
Let's do it.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 9, 2020, 8:59 AM, Greg Dowling wrote:

[2020-11-07 15:06] #137 closed

[2020-11-15 15:33] #104 closed

[2021-01-25 14:27] orginda opened #143 "pyvera install"
hi, i'm trying to integrate veraplus with hassio, i'm reading all the posts i find but i can't find or better it is surely the fault of my inexperience but i can't solve the integration of veraplus with hassio, i added the integration of vera in the devices , I see them on hassio but it does not update the status, I understand that biogna update pyvera with the latest version and I launched the co

[2021-01-25 14:43] pavoni commented on #143
It's normally straight forward, you should just need to add your vera controller path (mine is `http://192.168.1.162:3480/`) and then the rest should be pretty automatic.

If you add the following lines to your home assistant `configuration.yaml`, you should get more useful information in the home assistant log:

[code]

Let me know if you see anything useful in the log.

Vera runs a dedicated thr

[2021-01-25 15:51] orginda commented on #143
yes I can check them but without having the status updates regarding pir sensors and door sensors, but on the interface of vera I see all the changes, I also added those lines on configuration.jaml

[2021-01-25 15:54] pavoni commented on #143
With debug turned on you should see traces like these:
[code]

[2021-01-25 16:12] orginda commented on #143
where do i see this screen? in system log I don't see these entries

[2021-01-25 17:14] pavoni commented on #143
It's in Configuration / Logs

[2021-01-25 17:39] orginda commented on #143
![log hassio](https://user-images.githubusercontent.com/65851478/105742930-63161480-5f3c-11eb-9c70-f7ad83c8385d.jpg)

the only logs is in supervisor, I guess I'm not understanding, can you be more precise? I'm sorry

[2021-01-25 17:42] pavoni commented on #143
![Screenshot 2021-01-25 at 17 41 12](https://user-images.githubusercontent.com/4487313/105744166-a1a7d100-5f34-11eb-8cb0-e2128da5a2b3.png)

[2021-01-25 17:58] orginda commented on #143
![Uploading log hassio.jpg…]()

[2021-01-25 17:59] orginda commented on #143
![log hassio](https://user-images.githubusercontent.com/65851478/105746233-79719f80-5f3f-11eb-85c7-a3ec8d8988a1.jpg)

[2021-01-25 18:05] pavoni commented on #143
So that's not able to connect to your vera controller at all.

My guess is you have the wrong IP address, or some sort of network problem.

[2021-01-25 18:15] orginda commented on #143
the ip address is found, heart attack I can activate hassio checks and check its activation status on the veraplus page

[2021-01-25 18:21] pavoni commented on #143
I'm not sure what you mean - but while you see that type of error in the home assistant log  pyvera isn't connecting to your vera controller - so there is nothing more I can do to help.

[2021-01-25 18:24] orginda commented on #143
from hassio I can activate the veraplus devices, but I can't see the status of the sensors

[2021-01-25 18:28] pavoni commented on #143
With that error I don't believe you have any connection to Vera devices at all from hassio. So I don't know what you've got activated - but I don't think it's vera devices!

[2021-01-25 18:30] orginda commented on #143
![log hassio](https://user-images.githubusercontent.com/65851478/105749432-b049b480-5f43-11eb-96f6-4f5492ebcd56.jpg)

in any case I did a restart and the error in the log is not there now but the situation has remained the same

[2021-01-25 18:46] pavoni commented on #143
If you click on the button at the bottom - it should show you the full log.

[2021-01-25 19:09] orginda commented on #143
![log hassio](https://user-images.githubusercontent.com/65851478/105753542-2ef52080-5f49-11eb-8e01-59c8c4e20d57.jpg)

[2021-01-25 19:14] pavoni commented on #143
That looks good.

So now you need to watch the log and do some detective work. Change a switch or sensor and see what happens in the log.

[2021-01-25 19:20] orginda commented on #143
just restarted it seemed that the messages in the log were created but now everything has stopped

[2021-01-25 19:44] pavoni commented on #143
I think you’re going to need to get a bit more on top of Home Assistant before I can help.

This is really a place for raising technical issues with the pyvera python library, not broader home assistant help.

[2021-01-25 19:56] orginda commented on #143
sorry if I wasted your time, I try and try again to read the log but the updates are not recorded except in the first moments that I restart hassio and after all is silent, in any case thanks for the help, I admit my incompetence on the subject.

[2021-01-25 20:00] pavoni commented on #143
No problem.

Once you’ve got on top of home assistant, reading the logs etc, feel free to come back if you still have a problem with Vera devices not updating.

[2021-01-25 20:00] #143 closed

[2021-01-25 21:02] orginda commented on #143
the problems are always there, but I try to investigate the problem well so as not to disturb you, trying to understand even if it has to do the installation on proxmox, I will do all the necessary investigations and as a last hypothesis I return to ask questions and if I have need, thanks again

[2021-01-29 18:00] pavoni commented on #109
Closing as stale.

[2021-01-29 18:00] #109 closed

[2021-01-29 18:04] pavoni commented on #102
There are limits in both Vera and pyvera here.

The former is no longer sold (and development seems to be frozen).

I suspect new zwave users will pick another approach - so the main aim is to keep pyvera stable and working.

So closing for now.

[2021-01-29 18:04] #102 closed

[2021-01-29 18:06] pavoni commented on #103
Stale - so closing.

[2021-01-29 18:06] #103 closed

[2021-01-29 18:38] GaryOkie commented on #102
Greg,

Not that it matters, but to clarify - Vera Secure Hubs  are still being sold directly by Ezlo.  The Vera Mios firmware is still receiving support, but not so much anymore.   There was supposed to be at least one more firmware fix release coming.

The big push from EzLo is their new hubs running a new Linux-based OS.   This OS is also available on older [Vera Edge hubs in Beta](https://commu

[2021-01-29 18:44] pavoni commented on #102
Thanks Gary - much better that I thought - thanks.

I'm still using mine which works well. I just fixed a small bug in the home assistant wrapper https://github.com/home-assistant/core/pull/45535

As you say as a HA interface it's stable - although new device support leave a lot to be desired!

[2021-01-29 22:13] GaryOkie commented on #102
And thank YOU for fixing that issue!    It's much appreciated that you still look after this code's maintenance.

[2021-01-30 14:59] tgrusendorf opened #145 "comm_failure method incorrectly returns True when CommFailure variable not present in Vera response"
Problem:
For devices which have never had a communication failure, the VeraDevice comm_failure method incorrectly returns True when the device is communicating.  This is due to the 'CommFailure' variable not being present in the device info returned by Vera.

It appears that my Vera Edge does not include the CommFailure variable in the device info that it returns until there has been a communicati

[2021-01-30 15:11] pavoni commented on #145
Thanks for the detailed report and detective work.

You almost wrote the PR anyway!

If you can test that would be great - although the code should be pretty safe.

https://github.com/pavoni/pyvera/pull/146

[2021-01-30 15:13] pavoni commented on #145
BTW ``` is your friend for formatting - I changed the first code block for you as an example.

[2021-01-30 15:28] tgrusendorf commented on #145
Thanks!  Tested, comment added describing the 3 test cases, and approved.

Being a hobbyist I only have passing familiarity with the PR process.  I tested by pasting the modified code into my local copy of the library.  Is there an easy way for me to load the library with the proposed PR on my machine for testing?

[2021-01-30 15:28] #145 closed

[2021-01-30 15:39] pavoni commented on #145
I've released it now - so just bump your version if that's easy.

How to install a PR version of a library depends a lot on what's you're running - and how it's installed.

[2021-01-30 16:15] pavoni opened #147 "Do a better job at handling Comms Failure (esp in Home Assistant)"

[2021-01-30 20:07] tgrusendorf commented on #147
Issue part 1 - Vera not sending subscription updates - I like the idea of forcing a state refresh.  When the device comes out of comm failure, it looks like we always get a subscription update indicating that CommFailure has changed to 0 but not necessarily the state change back to -1 (sometimes we do and sometimes we don't).  This transition of CommFailure from 1 to 0 is what I would be inclined

[2021-02-02 14:36] pavoni commented on #147
BTW I should perhaps add that, if you can, it would be best to get your zwave network to be more reliable.

Perhaps add a couple of extra mains power zwave switches to fill the network holes on the way to your unreliable devices.

I've just done this - and it has helped a lot with the one device I find is unreliable.

Doesn't take away from the goal of making `pyvera` handle this this better of co

[2021-02-05 18:11] pavoni commented on #147
You can see what I did in HA here https://github.com/home-assistant/core/pull/46064

How often were you triggering zwave polls?

[2021-02-07 16:17] tgrusendorf commented on #147
Thanks - I'm looking forward to trying it out, but won't be able to for another week or so due to work.

I was just triggering zwave polls manually during my testing.  I don't think it's something we need to do too frequently with a device in comm failure.  Vera retries several times before it flags a comm failure.  Maybe start with attempting to poll a device in comm failure every 60s, with a bac

[2021-02-07 19:05] pavoni commented on #147
Do the flood sensors also report temperature? Might give you a way of alerting if they stop reporting.

[2021-02-07 19:17] tgrusendorf commented on #147
The one I'm using does.

https://www.aartech.ca/hs-fs100-w/homeseer-zwave-flex-sensor-temperature-and-perimeter-water-sensor.html

Just using comm failure on the binary sensor indicating water works just fine.  The flood sensor actually recovers from a comm failure on its own eventually (probably because it publishes updates without polling).  My dimmers, switches and plug modules don't recover wi

[2021-02-20 21:59] tgrusendorf commented on #147
I had the chance to do some testing today with the latest updates.  Setting 'should_poll' to True to trigger polling all parameters from Vera doesn't appear to be helping issue #1.

When I have a comm failure and should_poll becomes True, I don't see the update method being called for that device.  I added logging to the should_poll property to indicate every time it is called, and it looks like i

[2021-02-20 22:14] pavoni commented on #147
How are you testing? `should_poll` is called by the home assistant poll code. I don’t think this HA integration change has made it into a home assistant release yet.

[2021-02-21 03:10] tgrusendorf commented on #147
I'm running the Vera component as a custom component for testing.  I grabbed the current files with your merged PR from the repo  ([here](https://github.com/home-assistant/core/tree/dev/homeassistant/components/vera)) and replaced my custom component with them (and then added some more logging).

I'm running Home Assistant 2021.2.3.

Attached is my log file.  Below are the relevant times:
18:39 di

[2021-02-21 14:56] pavoni commented on #147
Do you know if you have the latest version of the pyvera library installed?

[2021-02-22 11:49] pavoni commented on #147
Just to check I wasn't dreaming, I added some logging to my dev setup. Apart from the logs this is running the current HA dev branch.

Here are the changes to VeraDevice :-

[code]
And here are the logs
[code]

You can see all the calls to `should_poll` and in the case of `Aeon Z-Stick` which isn't connected you can see the extra update.

You can also see the pyvera poll / event handling - and the

[2021-03-08 00:17] tgrusendorf commented on #147
I'm definitely seeing different behaviour with the calling of `should_poll` here.  I decided to clear off an SD card and try the version of HA from the dev channel (`core-2021.4.0.dev20210228` is what I have installed now for testing).  I also confirmed that I have the latest version of pyvera installed.

Is there any chance that you had one or more Vera devices already in a comm failure state whe

[2021-03-08 00:24] tgrusendorf commented on #147
I found a closed [architecture issue](https://github.com/home-assistant/architecture/issues/95) that relates.  It confirms that should_poll should not change during the lifetime of an entity.

[2021-03-08 00:25] pavoni commented on #147
I have a long term failed device - so that’s quite possible.

Thanks for the link...

[2021-03-13 11:34] pavoni commented on #147
@tgrusendorf Thanks for doing the research.

I'll refactor slightly to try and make this work.

BTW I've been experimenting with moving a few of my devices across to `zwave-js` using the `zwawe-js-mqtt` addon that has a gui for setup and configutation.

So far the results are really good - much easier to configure devices - and much easier entity setup.

I will test performance next.

[2021-03-13 12:10] pavoni commented on #147
I still need to test this works as I expect. But if you are able to try it in your setup - please do!

https://github.com/home-assistant/core/pull/47854

[2021-03-13 14:17] tgrusendorf commented on #147
I will give it a try.  I also tried a slightly different approach this week that has been working well.  I modified `pyvera` `VeraDevice.should_poll` to always return `True`.  The HASS `VeraDevice.update` method was already only calling refresh if `not self.available`.  This way I didn't have to modify the HASS component.

[2021-03-13 14:26] tgrusendorf commented on #147
Thanks for the tip on `zwawe-js-mqtt`.  When I saw you have a Z-Stick I was wondering if you had tried other non-Vera integrations.  I haven't read everything yet, but does it look like `zwawe-js-mqtt` is going to be the primary method of integrating `OpenZWave` in HASS?

[2021-03-13 14:34] pavoni commented on #147
I've been waiting for the HA zwave technologies to settle for a while, and finally looks like they have, so thought I'd try it.

Using an unsupported infrastructure always worries me - and it's getting hard to get new devices to work in Vera.

Having a controller that understands the devices is really great (all the device params are already there in the controller).

So yes - I suspect `zwace-js

[2021-03-22 00:39] tgrusendorf commented on #147
I checked out the dev branch of HA today, and I'm confused by the commit that ended up being merged into the dev branch.  It still contains:

[code]

But the comments indicated the property should be removed as it defaults to `True`.  It looks like maybe just your change was removed instead of the entire property?

[2021-03-22 07:55] pavoni commented on #147
Thanks for the heads up. Looks like I messed up the rebase. Will fix!

[2021-09-10 04:50] sresam89 opened #149 "Problem parsing pin code string"
Since the code has been using the following line (getting the hash of the password as well) python was not able to handle the character length more than 254 (which it is usually when doorcode is programmed)

Original code on __init__.py line 1210
`_, _, pin, name = code_addrs[2:]`

error without the fix
`Problem parsing pin code string 1,1,2021-08-12 16:35:38,2021-09-01 18:52:22,****,Member,2E6531

[2022-02-11 16:51] pavoni opened #154 "Update to Python 3.9, upgrade pylint mypi etc"
Even Python 3.8 created issues on my recent release, and Python 3.9 raised more issues.

So it would be good to upgrade all libraries - and then work through and resolve the lint issues.

This PR should be unwound at that point!

https://github.com/pavoni/pyvera/pull/153